<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"> "charset=uft-8"</script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app='myMovies'>
  <div ng-controller="movieApp">

  <h1>BOOYAH</h1>

  <input type="text" id='searchInput' ng-model='omdb.searchInput'>
  <button ng-click='searchButtonClicked(omdb.searchInput)' id='searchButton'> Search</button>

  <ul>
    <li ng-repeat='movie in omdb.movies'>{{ movie.title }}</li>
  </ul>
</div>

</body>
</html>
